<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>jifenqi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C86F7E951CED801700557D6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C86F7EA91CED801800557D6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C86F7EB41CED801800557D6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
